h1{
    text-align: center;
    color: #e8f800cb;
    text-shadow: 10px -10px 2px rgb(245, 0, 0);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.apartado8{
    text-align: center;
    color:aquamarine;
    text-shadow: -10px 10px 2px grey;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}